.vp-sidebar-title{
  font-size: 0.95rem;
}
.vp-sidebar-link{
  font-size: 0.9rem ;
}
.vp-sidebar-group .vp-sidebar-group {
  padding-left: 1.0rem;
}
.vp-sidebar-heading .vp-arrow {
  width: 0.95rem;
  height: 0.95rem;
}