// you can change colors here
$theme-color: #303e85;
html[data-theme=dark] {
  --navbar-bg-color: #1a1a1a;
  --sidebar-bg-color: var(--bg-color-blur);
  --theme-color: #3ed270;
  --tip-bg-color: rgba(0, 89, 30, 0.51);
}
.vp-action {

  border-radius: 0.2rem !important;

}
.vp-hero-info-wrapper {
  height: 100vh;
}
.vp-hero-infos{
  display: flex;
  flex-direction: column;
  align-items: center;
}
//strong {
//  font-weight: bold !important; 
//  color: #d35400 !important;
//}
.custom-icon {
  width: 100px;
  height: 100px;
}

.custom-icon::before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 100 100"><circle cx="50" cy="50" r="40" fill="var(--theme-color)" /></svg>') no-repeat center center;
}
